* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/background.jpeg);
  background-size: cover;
  
}
.card {
  margin: 150px 0 0 0;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
 
}
.heading {
  text-align: center;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  text-transform: uppercase;
}
.time{
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 50px; 
  font-size: 28px;
  margin-right: 50px;
}
h2 {
  margin-right: 5px;
}
.head {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}
.head h2 {
  margin-right: 20px;
}
.btn {
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-right: 30px;
  color: #ffffff;
}
.buttons {
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
}
#start {
  background-color: blueviolet;
}
#pause {
  background-color: cadetblue;
}
#reset {
  background-color: crimson;
}